{% extends "layout.html" %}

{% block title %}
    Understand Crypto
{% endblock %}

{% block banner %}
<div class="banner-area" >
    <h2>welcome to the future</h2>
</div>

{% endblock %}

{% block main %}
<div class="descri">
    <h3 style="font-size:36px; color:#c24c9b;">What is a Cryptocurrency?</h3>
    <p>Cryptocurrency is a form of payment that can be exchanged online for goods and services. Many companies have issued their own currencies,
    often called tokens, and these can be traded specifically for the good or service that the company provides. Think of them as you would arcade tokens or casino chips.
    You’ll need to exchange real currency for the cryptocurrency to access the good or service.
    Cryptocurrencies work using a technology called blockchain. Blockchain is a decentralized technology spread across many computers that manages and records transactions. Part of the appeal of this technology is its security.
    </p>
    <h3 style="font-size:36px; color:#c24c9b;">How many cryptocurrencies are there? What are they worth?</h3>
    <p>More than 6,700 different cryptocurrencies are traded publicly, according to CoinMarketCap.com, a market research website. And cryptocurrencies continue to proliferate, raising money through initial coin offerings, or ICOs. The total value of all cryptocurrencies on Feb. 18, 2021, was more than $1.6 trillion, according to CoinMarketCap, and the total value of all bitcoins, the most popular digital currency, was pegged at about $969.6billion.
    </p>
    <h3 style="font-size:36px; color:#c24c9b;">Why are cryptocurrencies so popular?</h3>
    <p>Cryptocurrencies appeal to their supporters for a variety of reasons. Here are some of the most popular:
    </p>    
    <ul>
        <li>Supporters see cryptocurrencies such as Bitcoin as the currency of the future and are racing to buy them now, presumably before they become more valuable</li>
        <li>Some supporters like the fact that cryptocurrency removes central banks from managing the money supply, since over time these banks tend to reduce the value of money via inflation</li>
        <li>Other supporters like the technology behind cryptocurrencies, the blockchain, because it’s a decentralized processing and recording system and can be more secure than traditional payment systems</li>
        <li>Some speculators like cryptocurrencies because they’re going up in value and have no interest in the currencies’ long-term acceptance as a way to move money</li>
    </ul>
    <h3 style="font-size:36px; color:#c24c9b;">What is Cr¥pto50?</h3>
    <p>Cr¥pto50 is a web-application creted as a final project to Harvard's <a href="https://cs50.harvard.edu/college/2021/spring/>">CS50</a> Computer Science course. Using real data from the market and a simple interface, Cr¥pto50 can help beginner investors to prepare for investing in the cryptocurrency market by simulating trades and their outcomes.</p>
   <a type="button" class="btn btn-primary" style="background-color: #009879;" href="/buy">BUY CRYPTO NOW</a>

<footer> <p>Information extracted from <a href="https://www.nerdwallet.com/article/investing/cryptocurrency-7-things-to-know">NerdWallet.</a></p> </footer>
{% endblock %}

