<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/form.css" rel="stylesheet">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    
    <title>Cr¥pto50: Log-in</title>
    
  </head>
  <body style="background-image: url(https://i.postimg.cc/c4fNXFBQ/software-3682509-1920.jpg); text-align:center">      
    <form action="/login" class="box" method="post">
      <h1>Cr¥pto50</h1>
      <h2>LOG-IN</h2>
      {{error}}
        <div class="form-group">
            <input autocomplete="off" autofocus  name="username" placeholder="Username" type="text">
        </div>
      
        <div class="form-group">
            <input name="password" placeholder="Password" type="password">
        </div>
      
        <button class="btn btn-light" type="submit">Log-in</button>
        <a href="/register" class="btn btn-primary">Sign Up</a>
    </form>
  </body>
  
</html>  