{% extends "layout.html" %}

{% block title %}
    Sell Crypto
{% endblock %}

{% block main %}
 <form action="/sell" method="post">
     <div class="sell-form">
         <h3>{{error}}</h3>
         <h2>You own {{own}} of {{quote}}. The current price is {{price}}</h2>
         <h2>Tyoe how many you want to sell below to confirm the transaction.</h2>
         <input class="quantity" type="number" name="quantity" autocomplete=off placeholder="Quantity"  min="0" step=".01" max="{{own}}">
         <input class="quantity" type="text" name="symbol" autocomplete=off placeholder="Confirm symbol">
         <button style="background-color: #009879;" class="btn btn-primary" type="submit">Sell {{symbol}}</button>
    </div>
</form>
{% endblock %}